<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <link rel="stylesheet" href="logout.css" />
  </head>
  <body>
    <form action="/logout" method="post">
      <header>
        <!-- <button class="logout-button" action="/logout" method="post" >Logout</button> -->
        <input type="submit" class="logout-button" value="Logout" />
      </header>
      <div class="container">
        <h1>Welcome to Nature</h1>
        <p>Enjoy this beautiful nature image:</p>
        <img
          src="https://images.pexels.com/photos/6590699/pexels-photo-6590699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Nature Image"
        />
      </div>
    </form>
  </body>
</html>
