body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.register-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.show-password {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.show-password input[type="password"] {
  flex-grow: 1;
}

.show-password button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
}

.register-button {
  width: 93%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red; /* Set the text color to red */
  font-weight: bold; /* Make the text bold */
  margin-top: 10px; /* Add some top margin for spacing */
}
